body {
    font-family: Arial, sans-serif;
}

.search-container {
    margin-top: 20px;
}

.hot-search button {
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.image-gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.image-gallery img:hover {
    cursor: pointer;
    opacity: 80%;
}

@media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .image-gallery {
        grid-template-columns: 1fr; /* One column on very small screens */
    }
}

